{
   "extends": "airbnb-base",
    "env": {
      "es6": true,
      "node": true
    },
    "parser": "babel-eslint",
    "plugins": ["import", "babel"],
    "rules": {
      "comma-dangle": ["warn", "only-multiline"],
      "indent": [2, 2, {"SwitchCase": 1}],
      "no-console": 0,
      "generator-star-spacing": 0,
      "babel/generator-star-spacing": 0,
      "babel/array-bracket-spacing": 1,
      "babel/object-shorthand": 1,
      "babel/arrow-parens": 1,
      "babel/no-await-in-loop": 1,
      "babel/flow-object-type": 1,
      "babel/func-params-comma-dangle": 1,
    },
    "globals": {
      "expect": true
    }
}
